body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .image-container> img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: none;
  }
  
  .carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 100%;
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .btn:focus {
    outline: none;
  }
  .active{
    display: block!important;
  }