body{
    margin:0;
}
*{
    box-sizing: border-box;
}
#users{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.user{
    background-color: darkblue;
    color: white;
    flex: 1 1 calc(25% - 20px);
    border: 1px solid gray;
    min-width: 250px;
}